import { createElement } from 'rax'

import './<%= data.fileName%>.css'

function <%= data.fileName%>(props) {

	return (
		<div className="container">

		</div>
	)

}

export default <%= data.fileName%>